pdfs/*
data/*
fig/*
mat/*
scripts/word2vec/*
scripts/toolbox_general/*
scripts/toolbox_signal/*
scripts/test_ellipsoids/*
scripts/myAutomaticDifferentiation/*
scripts/app_K.m
scripts/entropy.m
scripts/fig.m
scripts/debug.m
*.DS_Store
