pdfs/*
data/*
fig/*
mat/*
scripts/word2vec/*
scripts/toolbox_general/*
scripts/toolbox_signal/*
scripts/test_ellipsoids/*
scripts/myAutomaticDifferentiation/*
scripts/adigator/*
scripts/adTest.m
*.DS_Store
